@import "../../styles.scss";
.rightbar {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    background-color: themed("bg");
    color: themed("textColor");
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
    .container {
      padding: 20px;
      .items {
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
        padding: 20px;
        margin: 10px;
        span {
          color: themed("textColor");
          // color: gray;
        }
        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 20px 0;
          .userInfo {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
            .online {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: lime;
              position: absolute;
              top: 0;
              left: 28px;
            }
            p {
              font-size: 12px;
              font-weight: bold;
              color: themed("textColorSoft");
            }
            span {
              font-weight: 600;

              color: themed("textColor");

              font-size: 15px;
            }
          }
          span {
            font-weight: 500;
    color: themed("textColorSoft");
            font-size: 14px;
          }
          .buttons {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
              border: none;
              padding: 5px;
              color: white;
              cursor: pointer;
              &:first-child {
                background-color: rgba(0, 0, 255, 0.915);
              }
              &:last-child {
                background-color: rgb(255, 8, 8);
              }
            }
          }
        }
      }
    }
  }
}
